:root {
      --accent: #186efd60;
      --bg: #1e1f21;
      --sbg: #2c2d31;
      --fg: #d8dee9;
      --border_radius: 5px;
      --shadow: 0 5px 7px rgba(0, 0, 0, 0.35);
      --shadow_hover: 0 10px 10px rgba(0, 0, 0, 0.35);
      --padding: 15px;
}